body{
    background: #F4F3F2;
    font-family: "Poppins", sans-serif;
}
.container{
    display: flex;
    margin: 0% 3%;
    justify-content: space-around;
    position: relative;
}

img{
    width: 40%;
}

.section{
    background: #B8D2EF;
    width: 40%;
    padding: 2%;
    border-radius: 20px;
}

button{
    font-weight: bold;
    transition: all 0.3s;
}

button:hover{
    cursor: pointer;
    transform: scale(1.05);
    background: #2d5cb2ee !important;
}

#amount{
    width: 85%;
    border: none;
    border-radius: 50px;
    padding: 20px;
    margin-bottom: 30px;
}

.alrt{
    background: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 2% 0%;
    align-items: center;
    box-shadow: 0px 0px 5px #00000028;
    border-radius: 15px;
    position: absolute;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    opacity: 0;
    transform: scale(0.5);
    display: none;
    z-index: 2;
    transition: all 0.3s;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff2d;
    filter: blur(20px);
    display: none;
    z-index: 1;
}

.overlay.show {
    display: block;
}

.alrt.show {
    display: flex;
    opacity: 1;
    transform: scale(1);
}

.alrt h1, .alrt h3, .alrt h5{
    margin: 4px;
}

.btns{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.enq{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    text-align: center;
    font-size: 42px;
    color: #2D5BB2;
}

h2{
    text-align: center;
    font-size: 35px;
    color: #2D5BB2;
}

.hh1{
    margin-top: 3%;
}

.hh2{
    margin-top: 0;
}

.btns button, .alrt button{
    width: 45%;
    background: #2D5BB2;
    color: white;
    border: none;
    border-radius: 8px;
    height: 40px;
}

#blncbtn{
    width: 90%;
    background: #2D5BB2;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 20px;
}

.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr{
    width: 60%;
    margin-top: 5%;
    margin-bottom: 3%;
}

input::placeholder{
    font-family: "inter", sans-serif;
}
